{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/header" headerStyle=@custom.header_style}}

{{#match @custom.header_style "!=" "Highlight"}}
    {{> "components/featured" showFeatured=@custom.show_featured_posts limit=4}}
{{/match}}

{{> "components/cta"}}

<section class="gh-container is-list gh-outer">
    <div class="gh-inner image-grid">
        {{!-- <p class="is-body">
            Figurd is a PATENTED suite of Math Games, proven to increase student ACHIEVEMENT.<br/>
            Our Mission is to make Mastering Math, a critical Life Skill, more ENGAGING.<br/><br/>
            <b>We now have several products to offer:</b>
            <ul>
                <li>One is a <b>FREE</b> daily <b>Online</b> game for all ages. (No login/account required.) Play <a href="https://play.figurd.com"><b><i>HERE</i></b></a> now: Figurd | A Game You Can Count On!</li>
                <li>The other products are affordable and robust subscription-based packages for parents and professional educators of K-8 students. Subscribers will get daily emails with Assessment-friendly* <b>Download+Print Activity Sheets</b> (* reviewed, graded, etc.). These one-page activity sheets make a great individual activity (homework, seatwork, etc.) or a <b>fun and effective</b> small-group peer-to-peer learning experience.</li>
            </ul><br/><br/>
            Our games help students <b>master arithmetic while enhancing logic, reasoning, and problem-solving skills</b> (without memorizing boring tables). Studies have shown that new mental connections formed with play happen as much as <b>20 times faster</b> than with repetition, making <b>Figurd "A Game You Can Count On!"</b>
        </p> --}}
        <a href="https://play.figurd.com">
            <img src="{{asset 'images/landing-free.png'}}" alt="Figurd Math Game Example" class="section-image"/><br/><br/>
        </a>
        <a href="https://figurd.com/for-educators/">
            <img src="{{asset 'images/landing-educator.png'}}" alt="Figurd Math Game Example" class="section-image"/><br/><br/>
        </a>
    </div>
</section>

{{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar}}