{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/header" headerStyle=@custom.header_style}}

{{#match @custom.header_style "!=" "Highlight"}}
    {{> "components/featured" showFeatured=@custom.show_featured_posts limit=4}}
{{/match}}

{{> "components/cta"}}

<section class="gh-container is-list gh-outer">
    <div class="gh-inner">
        <p class="is-body">
            <b>What is Figurd?</b><br/><br/>
            Figurd is a suite of Patented Math Games with several product offerings.<br/><br/>
            We have a FREE daily online game for all ages. Figurd | A Game You Can Count On! - Play <a href="https://play.figurd.com"><i>HERE</i></a>.<br/><br/>
            Our other products are affordable and robust subscription-based packages for parents and professional educators of K-8 students. Subscribers will get daily emails with Assessment-friendly <b>download+print Activity sheets</b> (* reviewed, graded, etc.). These Activity sheets make a great small-group peer-to-peer learning experience or individual activity.<br/><br/>
            Our games are tailored to help students master arithmetic while enhancing logic, reasoning, and problem-solving skills (without memorizing boring tables). In fact, studies have shown new mental connections are formed as much as <b>20 times faster</b> in play than we do via repetition. That's why we created Figurd - to help the world enjoy and master Math, one of the most crucial life skills!
        </p>
    </div>
</section>

{{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar}}