{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/header" headerStyle=@custom.header_style}}

{{#match @custom.header_style "!=" "Highlight"}}
    {{> "components/featured" showFeatured=@custom.show_featured_posts limit=4}}
{{/match}}

{{> "components/cta"}}

<section class="gh-container is-list gh-outer">
    <div class="gh-inner">
        <p class="is-body">
            &nbsp;&nbsp;Figurd currently has Multiple Offerings: One is a FREE daily math game for all ages and the other offerings are more robust paid subscription-based products for parents and professional educators for school-age children in grades K-8. In these packages, Subscribers will get daily emails with games tailored to helping students master arithmetic while enhancing logic, reasoning, and problem-solving skills presented in a game format. In fact, studies have shown that we form mental connections as much as 20 times faster in play than we do via repetition. That's why we created Figurd - to help the world learn Math through play.
        </p>
    </div>
</section>

{{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar}}