{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/header" headerStyle=@custom.header_style}}

{{#match @custom.header_style "!=" "Highlight"}}
    {{> "components/featured" showFeatured=@custom.show_featured_posts limit=4}}
{{/match}}

{{> "components/cta"}}

<section class="gh-container is-list gh-outer">
    <div class="gh-inner">
        <p class="is-body">
            <b>Figurd, A Suite of Patented Math Games</b>, currently has Multiple Offerings. <br/><br/>
            We have a FREE Online daily game for all ages. Figurd | A Game You Can Count On - Play <a href="https://play.figurd.com"><i>HERE</i></a>.<br/><br/>
            Our other offerings are robust subscription-based packages of download and print activity sheets for parents and professional educators for grade K-8 students. In these packages, subscribers will get daily emails with download and print activity sheets that allow for assessment (reviewed and/or graded) or make a great small group activity for a fun peer-to-peer learning experience.<br/><br/>
            These game-format activity sheets are tailored to help students master arithmetic while enhancing logic, reasoning, and problem-solving skills (without boring memorizing tables). In fact, studies have shown that we form mental connections as much as 20 times faster in play than we do via repetition. That's why we created Figurd - to help the world master Math through play.
        </p>
    </div>
</section>

{{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar}}